# Скомпілений Java-код та архіви
/target/
*.war
*.jar
*.class

# Налаштування IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Залежності та збірка React-фронтенду
frontend/node_modules/
frontend/build/
.eslintcache

# Логи та системні файли
*.log
.DS_Store
Thumba.dbtarget/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
